body{
    font-family: 'Poppins', sans-serif;
}
.inf-pro{
    margin-left: 100px;
}
.section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 50px 0 50px;
}
.section-1-grid-cell{
    padding-left: 50px;
}
.section-1-grid-cell h1{
    font-size: 50px;
}
.section-1-grid-cell a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    background-color: #E02C6D;
    color: white;
}
.section-1-grid-cell a i{
    display: inline-block;
    margin-left: 10px;
}

.section-1-grid-cell img{
    width: 65%;
    padding-left: 100px;
}