body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.inf-pro{
    margin-left: 130px;
}
.section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 10px 100px 120px;
}
.section-1-grid-cell h1{
    font-size: 50px;
}
.section-1-grid-cell a{
    display: inline-block;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #E02C6D;
    color: white;
}

.section-1-grid-cell img{
    padding-left: 110px;
}


.popular-collection-heading{
    text-align: center;
    font-size: 25px;
}



.section-2-container{
    display: flex;
    justify-content: center;

}
.section-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
    margin-bottom: 50px;
}
.section-2-grid-cell{
    padding: 15px;
    box-shadow: 0.2px 0.2px 5px grey;
    border-radius: 10px;
}
.pro-name{
    font-size: 25px;
}
.price {
    font-size: 20px;
    color: grey;
}
.description{
    font-size: 14px;
    color: grey;
    font-weight: 500;
}

.fa-star{
    color: orange;
}
.rating span{
    padding-left: 10px;
}

.see-more{
    text-align: end;
}

.see-more a{
    text-decoration: none;
    color: #E02C6D;
    margin-right: 100px;
}
.hover-section-container{
    display: flex;
    justify-content: center;
}
.hover-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 40%;
}
.new-website{
    position: relative;
    top: 50px;
    font-size: 50px;
    margin: 0%;
    padding: 0%;
}
.hover-section img{
    position: relative;
    top: 50px;
    padding-left: 100px;
    width: 40%;
}
.new-website-des-container{
    width: 0%;
    overflow: hidden;
}
.new-website-des{
    margin: 0%;
    padding: 0%;
    width: 500px;
    height: 200px;
}
.new-website-des a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #E02C6D;
    border-radius: 25px;
    margin-top: 15px;
    color: white;
    height: 30px;
    width: 190px;
}
.fa-arrow-right{
    padding-left: 10px;
}
.hover-section:hover .new-website-des-container{
    width: 100%;
    height: 216px;
    transition: width 0.8s linear 0s;
}

footer{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
}
.foot-inf-pro{
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 500;
    font-size: 20px;

}
.copy-right{
    margin: 0%;
    color: grey;
}
.font-as-icon{
    padding-bottom: 20px;
    text-decoration: none;
}
.font-as-icon i{
    margin-left: 25px;
    color: white;
}


/* Pad */
@media (max-width: 992px) {
    .section-1{
        padding-left: 0%;
    }
    .section-1 img{
        width: 100%;
    }
    .section-2 img{
        width: 100%;
        padding: 0%;

    }
    .section-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .hover-section:hover .new-website-des-container{
        width: 155%;
        transition: width 2s linear 0s;
    }
}


/* mobile */
@media only screen and (max-width: 688px) {
    .order-1{
        order: 2;
    }
    .order-2{
        order: 1;
    }
    .inf-pro{
        padding: 20px 0px 0px 0px;
        margin: 0%;
        text-align: center;
    }
    .section-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0%;
    } 
    .section-1-grid-cell{
        text-align: center;
        margin: 0px 10px;
    } 
    .section-1 img{
        width: 100%;
        padding: 0%;
    }

    .section-2 img{
        width: 100%;
        padding: 0%;

    }
    .section-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .see-more{
        text-align: start;
        margin-left: 35%;
    }

    .hover-section img{
        padding-left: 0px;
        padding-top: 30px;
    }
    .new-website-des-container{
        height: 0px;
        overflow: hidden;
    }
    .new-website-des{
        width: 190px;
        height: 320px;
    }
    .hover-section:hover .new-website-des-container{
        width: 135%;
        height: 320px;
        transition: width 2s linear 0s;
    }
}

